In [ ]:
import pandas as pd
import numpy as np
import time

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [ ]:
browser = webdriver.Chrome()
browser.get('https://www.wanted.co.kr')

In [ ]:
elem = browser.find_element(By.CLASS_NAME, 'searchButton')
elem.click()
elem = browser.find_element(By.CLASS_NAME, 'SearchBar_SearchBar_container__kpoXq > form > input')
elem.send_keys('데이터')
elem.send_keys(Keys.ENTER)

In [ ]:
last_height = browser.execute_script('return document.body.scrollHeight')  
while True:
    # 스크롤 무빙                                                    
    browser.execute_script('window.scrollTo(0, document.body.scrollHeight);')

    # 페이지 로드 대기
    time.sleep(1)                                               
    browser.execute_script('window.scrollTo(0, document.body.scrollHeight-50);')  
    time.sleep(1)

    # 새로운 스크롤 동작 높이와 이전 스크롤과의 비교  
    new_height = browser.execute_script('return document.body.scrollHeight')

    if new_height == last_height:                                               
        break

    last_height = new_height

# 참고: https://moondol-ai.tistory.com/107

## **직무, 회사, 링크**

In [ ]:
Pos = [] # 직무
Com = [] # 회사
Lin = [] # 링크

i = 1
while True:
    try:
        pos = browser.find_element(By.XPATH, f'//*[@id="__next"]/div[4]/div/div[2]/div[3]/div/div/div[2]/ul/li[{i}]/div/a/div/div[1]').text
        com = browser.find_element(By.XPATH, f'//*[@id="__next"]/div[4]/div/div[2]/div[3]/div/div/div[2]/ul/li[{i}]/div/a/div/div[2]').text
        lin = browser.find_element(By.XPATH, f'//*[@id="__next"]/div[4]/div/div[2]/div[3]/div/div/div[2]/ul/li[{i}]/div/a').get_attribute('href')
        
        i += 1
        
        Pos.append(pos)
        Com.append(com)
        Lin.append(lin)
    except Exception as e:
        break

NAME = ['직무', '회사', '링크']
LIST = [Pos, Com, Lin]
for nm, ls in zip(NAME, LIST):
    print('\n-- {} --\n'.format(nm), ls[0], ' *** ', len(ls))

## **자격요건, 우대사항**

In [ ]:
Req = [] # 자격요건
Pre = [] # 우대사항

for link in Lin:
    browser.get(link)
    browser.implicitly_wait(7)
    try:
        req = browser.find_element(By.XPATH, '//*[@id="__next"]/div[3]/div[1]/div[1]/div/div[2]/section[1]/p[3]/span').text
        pre = browser.find_element(By.XPATH, '//*[@id="__next"]/div[3]/div[1]/div[1]/div/div[2]/section[1]/p[4]/span').text

        Req.append(req)
        Pre.append(pre)
    except Exception as e:
        break

NAME = ['자격요건', '우대사항']
LIST = [Req, Pre]
for nm, ls in zip(NAME, LIST):
    print('\n -- {} --\n'.format(nm), ls[0], ' *** ', len(ls))

## **위치**

In [ ]:
Loc = [] # 위치

for link in Lin:
    browser.get(link)
    browser.implicitly_wait(7)
    try:
        loc = browser.find_element(By.XPATH, '//*[@id="__next"]/div[3]/div[1]/div[1]/div/section[2]/div[1]/span').text
        Loc.append(loc)
    except Exception as e:
        break

print('\n-- 위치 --\n', Loc[0], ' *** ', len(Loc))

- `//*[@id="__next"]/div[3]/div[1]/div[1]/div/div[2]/section[2]/div[2]` : 18~50개로 끝남

In [21]:
wanted_df = pd.DataFrame({
    'Position' : Pos,     # 직무
    'Company' : Com,      # 회사
    'Requirement' : Req,  # 자격요건
    'Preference' : Pre,   # 우대사항
    'Location' : Loc,     # 위치
    'Link' : Lin          # 링크
})
wanted_df.to_csv('C:\\VSC\\DS_Career_Analysis\\wanted_df.csv', index=False)
wanted_df = pd.read_csv('C:\\VSC\\DS_Career_Analysis\\wanted_df.csv')
wanted_df

,Position,Company,Requirement,Preference,Location,Link
0,DevOps 엔지니어 | AI Lab. 빅데이터 플랫폼 개발팀,모아데이타,"- 산업 공학, 컴퓨터 공학 등 관련 전공자\n- 소프트웨어 개발 및 프로젝트 관리...",• 관련 전공자 \n• 각종 대회 입상자,경기.한국,https://www.wanted.co.kr/wd/144976
1,데이터 매니저(Data Manager),인터마인즈,• 꼼꼼하고 성실하신 분\n• 동료와 커뮤니케이션 원활하신 분\n• 업무에 대해 책...,"• MS Office(Power Point, Excel 등) 활용능력이 뛰어나신 분...",경기.한국,https://www.wanted.co.kr/wd/58835
2,데이터 분석 엔지니어,알테어엔지니어링,ㆍ통계학 또는 컴퓨터공학 학사 또는 석사\n\nㆍ빅 데이터/기계 학습에 대한 이해도...,"ㆍ SAS, R, 또는 Python을 사용한 프로그래밍 및 모델링 경험자 우대\n\...",경기.한국,https://www.wanted.co.kr/wd/143778
3,데이터 분석/시각화(Tableau/태블로) (5년 이상),아이투맥스,- Tableau 또는 Salesforce CRM Analytics 사용 및 운영 ...,- Tableau Certificate Associate Consultant 자격증...,서울.한국,https://www.wanted.co.kr/wd/86755
4,[Tech] 데이터베이스 관리자,더블유컨셉코리아(W컨셉),• 학력 : 대졸 이상\n• 경력 : 관련 직무 경력 4년 이상\n\n직무요건\n•...,• 이머커스 플랫폼에 대한 이해도 및 대용량 데이터베이스 OLTP 운영 경험이 있으...,서울.한국,https://www.wanted.co.kr/wd/80639
...,...,...,...,...,...,...
374,자율주행차 운영 및 데이터 관리(세종),오토노머스에이투지,"• 경력: 무관(신입도 지원 가능)(연구원, 매니저급)\n• 기타 필수 사항\n ...","• 공학계열\n• 1종대형운전면허\n• 차량소지자, 인근거주자",세종.한국,https://www.wanted.co.kr/wd/135547
375,데이터 비즈니스 기획 PM,서클플랫폼,"• 고객 중심, 데이터 중심의 사고를 바탕으로 문제 해결 역량을 갖춘 분\n• 데이...",• 애자일 방식의 빠르고 유연한 프로젝트 리딩 경험\n• 테스트를 통한 사용자 중심...,서울.한국,https://www.wanted.co.kr/wd/81137
376,데이터보안 개발자,소프트포럼,• 학력 : 대졸 이상\n• 경력 : 경력 5년 이상\n• C/C++ 개발 가능자\...,"• DBMS(Oracle, MS-SQL 등) 경험자\n• CC인증, GS인증 경험자...",경기.한국,https://www.wanted.co.kr/wd/127430
377,KT FMS IO SM SYSTEM ENGINEER & DBA : OS / MIDD...,지오소프트,"• CENTOS 서버 관리 능력, LOG 분석\n• JBOSS NGINX APACH...",• 5년 이상 경력자 우대( 연봉 반영 ),서울.한국,https://www.wanted.co.kr/wd/83498
378,데이터베이스 (DB) 전문가,다인크레스트코리아,• Cloud/On-Premise 환경 에서 Database( MySQL) 설치를 ...,• 게임 통계 개발 경력\n• Billing 서비스 경력,서울.한국,https://www.wanted.co.kr/wd/85840